*.i                             # Preprocessed source
*/*.i
*/*/*.i
*.s                             # Assembly output
*/*.s
*/*/*.s
*.ll                            # LLVM intermediate
*/*.ll
*/*/*.ll
*.o                             # Object files
*/*.o
*/*/*.o
core.*                          # core files
*/core.*
*/*/core.*
octave-workspace                # Octave crashes
*/octave-workspace
*.swp                           # Vim
*/*.swp
*/*/*.swp
*.swo                           # Vim
*/*.swo
*/*/*.swo
*.dSYM                          # Mac
*/*.dSYM
*/*/*.dSYM
*.optrpt                        # Intel compiler
*/*.optrpt
*/*/*.optrpt
*__genmod.*                     # Intel Fortran compiler
*/*__genmod.mod
*.patch
*/*.patch
*.dbg                           # Flang
*/*.dbg
*/*/*.dbg

common/make.defs
scripts/small/runfgmpi
scripts/wide/runfgmpi
scripts/small/runfenix

*.incl                          # PRK C89 stencil generated code
*/*.incl
*/*/*.incl
func.c                          # PRK C89 stencil generated code
*/func.c
*/*/func.c

*.cobaltlog                     # ALCF Cobalt scheduler
*.output                        # ALCF Cobalt scheduler
*.error                         # ALCF Cobalt scheduler

*.log
*.log2
*.log3

MPI1/AMR/amr
MPI1/Branch/branch
MPI1/DGEMM/dgemm
MPI1/Nstream/nstream
MPI1/PIC-static/pic
MPI1/Random/random
MPI1/Reduce/reduce
MPI1/Sparse/sparse
MPI1/Stencil/stencil
MPI1/Synch_global/global
MPI1/Synch_p2p/p2p
MPI1/Transpose/transpose
MPIOPENMP/Nstream/nstream
MPIOPENMP/Stencil/stencil
MPIOPENMP/Synch_p2p/p2p
MPIOPENMP/Transpose/transpose
MPIRMA/Stencil/stencil
MPIRMA/Synch_p2p/p2p
MPIRMA/Transpose/transpose
MPISHM/Stencil/stencil
MPISHM/Synch_p2p/p2p
MPISHM/Transpose/transpose
OPENMP/Branch/branch
OPENMP/DGEMM/dgemm
OPENMP/Nstream/nstream
OPENMP/PIC/pic
OPENMP/Random/random
OPENMP/Reduce/reduce
OPENMP/Refcount/refcount
OPENMP/Sparse/sparse
OPENMP/Stencil/stencil
OPENMP/Synch_global/global
OPENMP/Synch_p2p/p2p
OPENMP/Transpose/transpose
SERIAL/AMR/amr
SERIAL/Branch/branch
SERIAL/DGEMM/dgemm
SERIAL/Nstream/nstream
SERIAL/PIC/pic
SERIAL/Random/random
SERIAL/Reduce/reduce
SERIAL/Sparse/sparse
SERIAL/Stencil/stencil
SERIAL/Synch_p2p/p2p
SERIAL/Transpose/transpose
C1z/nstream
C1z/nstream-openmp
C1z/nstream-target
C1z/nstream-taskloop
C1z/nstream-mpi
C1z/nstream-memkind
C1z/nstream-memkind-openmp
C1z/nstream-mmap
C1z/nstream-mmap-openmp
C1z/p2p
C1z/p2p-avx
C1z/p2p-sse
C1z/p2p-innerloop
C1z/p2p-innerloop-openmp
C1z/p2p-hyperplane
C1z/p2p-hyperplane-openmp
C1z/p2p-tasks-openmp
C1z/p2p-simd-openmp
C1z/p2p-avx
C1z/p2p-sse
C1z/stencil
C1z/stencil-cilk
C1z/stencil-openmp
C1z/stencil-target
C1z/stencil-taskloop
C1z/transpose
C1z/transpose-thread
C1z/transpose-cilk
C1z/transpose-openmp
C1z/transpose-target
C1z/transpose-taskloop
C1z/transpose-ispc
Cxx11/boost
Cxx11/compute
Cxx11/triSYCL
Cxx11/occa
Cxx11/pstl
Cxx11/parallelstl
Cxx11/range-v3
Cxx11/dgemm-vector
Cxx11/dgemm-cblas
Cxx11/dgemm-cublas
Cxx11/p2p-openmp-target
Cxx11/p2p-tasks-openmp
Cxx11/p2p-tasks-tbb
Cxx11/p2p-vector
Cxx11/p2p-vector-doacross-openmp
Cxx11/p2p-vector-raja
Cxx11/p2p-vector-tbb
Cxx11/p2p-innerloop-openmp
Cxx11/p2p-doacross-vector-openmp
Cxx11/p2p-doacross-openmp
Cxx11/p2p-innerloop-opencl
Cxx11/p2p-innerloop-vector
Cxx11/p2p-hyperplane-vector
Cxx11/p2p-hyperplane-openmp
Cxx11/p2p-hyperplane-vector-openmp
Cxx11/p2p-innerloop-vector-tbb
Cxx11/p2p-hyperplane-vector-stl
Cxx11/p2p-hyperplane-vector-pstl
Cxx11/p2p-hyperplane-vector-tbb
Cxx11/p2p-hyperplane-sycl
Cxx11/nstream-kokkos
Cxx11/nstream-opencl
Cxx11/nstream-valarray
Cxx11/nstream-vector
Cxx11/nstream-vector-openmp
Cxx11/nstream-vector-pstl
Cxx11/nstream-vector-raja
Cxx11/nstream-raja
Cxx11/nstream-vector-rangefor
Cxx11/nstream-vector-stl
Cxx11/nstream-vector-taskloop
Cxx11/nstream-vector-tbb
Cxx11/nstream-valarray-boost-compute
Cxx11/nstream-vector-boost-compute
Cxx11/nstream-cublas
Cxx11/nstream-cuda
Cxx11/nstream-openmp-target
Cxx11/nstream-sycl
Cxx11/sparse-vector
Cxx11/stencil-opencl
Cxx11/stencil-openmp-target
Cxx11/stencil-vector
Cxx11/stencil-vector-openmp
Cxx11/stencil-vector-cilk
Cxx11/stencil-vector-stl
Cxx11/stencil-vector-pstl
Cxx11/stencil-vector-raja
Cxx11/stencil-openmp
Cxx11/stencil-raja
Cxx11/stencil-vector-rangefor
Cxx11/stencil-vector-tbb
Cxx11/stencil-vector-taskloop
Cxx11/stencil-kokkos
Cxx11/stencil-cuda
Cxx11/stencil-sycl
Cxx11/transpose-openmp
Cxx11/transpose-opencl
Cxx11/transpose-sycl
Cxx11/transpose-openmp-target
Cxx11/transpose-valarray
Cxx11/transpose-vector
Cxx11/transpose-vector-async
Cxx11/transpose-vector-thread
Cxx11/transpose-vector-openmp
Cxx11/transpose-vector-cilk
Cxx11/transpose-vector-stl
Cxx11/transpose-vector-pstl
Cxx11/transpose-vector-raja
Cxx11/transpose-raja
Cxx11/transpose-vector-rangefor
Cxx11/transpose-vector-tbb
Cxx11/transpose-vector-taskloop
Cxx11/transpose-vector-async
Cxx11/transpose-vector-thread
Cxx11/transpose-kokkos
Cxx11/transpose-device-thrust
Cxx11/transpose-host-thrust
Cxx11/transpose-cublas
Cxx11/transpose-cuda
Cxx11/grid1.cl
Cxx11/grid2.cl
Cxx11/grid3.cl
Cxx11/grid4.cl
Cxx11/grid5.cl
Cxx11/grid6.cl
Cxx11/grid7.cl
Cxx11/grid8.cl
Cxx11/grid9.cl
Cxx11/star1.cl
Cxx11/star2.cl
Cxx11/star3.cl
Cxx11/star4.cl
Cxx11/star5.cl
Cxx11/star6.cl
Cxx11/star7.cl
Cxx11/star8.cl
Cxx11/star9.cl
Cxx11/star10.cl
Cxx11/hipSYCL
Cxx11/cpp-proposals-pub
Cxx11/ornl-mdspan
Cxx11/boost.tgz
Cxx11/boost.tbz
Cxx11/OpenCL-CLHPP
Cxx11/GSL
FORTRAN/dgemm-taskloop-openmp
FORTRAN/dgemm-pretty
FORTRAN/dgemm-openmp
FORTRAN/dgemm-openmp-target
FORTRAN/dgemm
FORTRAN/nstream
FORTRAN/nstream-openmp
FORTRAN/nstream-pretty
FORTRAN/nstream-taskloop-openmp
FORTRAN/nstream-openmp-target
FORTRAN/nstream-ornlacc
FORTRAN/p2p
FORTRAN/p2p-innerloop
FORTRAN/p2p-coarray
FORTRAN/p2p-openmp-target
FORTRAN/p2p-tasks-openmp
FORTRAN/p2p-doacross-openmp
FORTRAN/p2p-innerloop-openmp
FORTRAN/p2p-datapar-openmp
FORTRAN/p2p-innerloop-ornlacc
FORTRAN/p2p-ornlacc
FORTRAN/stencil
FORTRAN/stencil-coarray
FORTRAN/stencil-openmp
FORTRAN/stencil-openmp-target
FORTRAN/stencil-pretty
FORTRAN/stencil-ornlacc
FORTRAN/stencil-taskloop-openmp
FORTRAN/stencil-ornlacc
FORTRAN/transpose
FORTRAN/transpose-coarray
FORTRAN/transpose-openmp
FORTRAN/transpose-openmp-target
FORTRAN/transpose-pretty
FORTRAN/transpose-ornlacc
FORTRAN/transpose-taskloop-openmp
FORTRAN/transpose-tasks-openmp
FORTRAN/transpose-ornlacc
RUST/p2p/Cargo.lock
RUST/stencil/Cargo.lock
RUST/transpose/Cargo.lock
