# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @jeffhammond

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
AMPI/*                      @rfvander
C1z/*                       @jeffhammond
#CHAPEL/*                    @ben-albrecht @npadmana
CHARM++/*                   @rfvander @philmiller-charmworks
Cxx11/*                     @jeffhammond
FENIX/*                     @rfvander @marcgamell
FG_MPI/*                    @rfvander
FORTRAN/*                   @jeffhammond
FORTRAN/*coarray.f90        @afanfa @zbeekman @jeffhammond
GRAPPA/*                    @nelsonje
JULIA/*                     @kpamnany @jeffhammond
LEGION/*                    @magnatelee @elliottslaughter @apokayi @rfvander
MPI1/*                      @rfvander
MPIOPENMP/*                 @rfvander
MPIRMA/*                    @rfvander @srinivas212 @jeffhammond
MPISHM/*                    @rfvander @srinivas212 @jeffhammond
OCTAVE/*                    @jeffhammond
OPENMP/*                    @rfvander
PYTHON/*                    @jeffhammond
RUST/*                      @jeffhammond
SERIAL/*                    @rfvander
SHMEM/*                     @jdinan @rfvander
UPC/*                       @apokayi
travis/*                    @jeffhammond

